<aside class="app-sidebar">
  <div class="sidebar-brand">
    <div class="brand-icon">
      <img src="/assets/icons/prumo_logo_sb.svg" alt="Home"  height="80">
    </div>
  </div>

  <nav class="nav">
    @for (item of menuItems; track item.id) {
      @let isActive = activeItem() === item.id;
      <button
        (click)="handleNavigate(item.id)"
        [class.active]="isActive"
        class="menu-item"
      >
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
          @switch (item.icon) {
            @case ('home') {
              <image href="assets/icons/graphics-scale-svgrepo-com.svg" width="25" height="25"></image>
            }
            @case ('portfolio') {
              <image href="assets/icons/briefcase.png" width="22" height="25"></image>
            }
            @case ('folder-open') {
              <image href="assets/icons/folder-svgrepo-com.svg" width="25" height="25"></image>
            }
            @case ('target') {
              <image href="assets/icons/folder-svgrepo-com.svg" width="25" height="25"></image>
            }
            @case ('link') {
              <image href="assets/icons/folder-svgrepo-com.svg" width="25" height="25"></image>
            }
            @case ('bar-chart-3') {
              <image href="assets/icons/folder-svgrepo-com.svg" width="25" height="25"></image>
            }
            @case ('settings') {
              <image href="assets/icons/folder-svgrepo-com.svg" width="25" height="25"></image>
            }
          }
        </svg>
        <span>{{ item.label }}</span>
      </button>
    }
  </nav>
</aside>
